.about {
  padding: 3rem $padding-side;
  font-size: 1.8rem;
  max-width: 80rem;
  margin: 0 auto;
  p {
    text-align: justify;
  }

  strong {
    color: $color-primary-dark;
    // font-weight: 600;
  }

  @media screen and (min-width: 769px) {
    font-size: 2.2rem;
  }
}
