$color-primary: #1976d2;
$color-primary-light: #1e88e5;
$color-primary-dark: #0d47a1;
$color-secondary: #90caf9;
$color-secondary-light: #e3f2fd;
$color-bg-light: #dbdbdb;

$color-grey-dark: #777;
$color-grey-light: #9c9c9c;

$color-white: #fff;
$color-white-04: #f2f3f867;
$color-black: #16302b;
$color-black-04: #16302b67;

$color-overlay: #000000cc;
$color-header-overlay: #f2f3f899;

$color-bg-appointment: #201f24;
$color-text-appointment: #ebe4e0;

$color-border-appointment: #2f2e33;
$color-bg-header-appointment: #1a181c;

$color-complement: #bbdefb;

$margin-small: 3.2rem;
$margin-medium: 4.8rem;
$margin-large: 6.4rem;

$padding-side: 3rem;

$fw-normal: 400;
$fw-thick: 500;
$fw-bold: 600;
$fw-boldest: 700;

$border-radius-xs: 4px;
$border-radius-small: 8px;
$border-radius-medium: 24px;
$border-radius-large: 48px;

$z-index-max: 999;

$animation-transition-time: 500ms;

/*
https://coolors.co/palette/e3f2fd-bbdefb-90caf9-64b5f6-42a5f5-2196f3-1e88e5-1976d2-1565c0-0d47a1
*/
